.sharing {
  a:hover{
    color: #fff;
  }

  .btn-twitter {
    text-transform: none;
    background-color: #55acee;
    border: 0px;
    color: #fff;
    margin-bottom: 5px;
  }

  .btn-facebook {
    text-transform: none;
    background-color: #3b5998;
    border: 0px;
    color: #fff;
    margin-bottom: 5px;
  }

  .btn-google {
    text-transform: none;
    background-color: #d94734;
    border: 0px;
    color: #fff;
    margin-bottom: 5px;
  }

  .btn-linkedin {
    text-transform: none;
    background-color: #3b5998;
    border: 0px;
    color: #fff;
    margin-bottom: 5px;
  }

  .btn-email {
    text-transform: none;
    background-color: #97908F;
    border: 0px;
    color: #fff;
    margin-bottom: 5px;
  }

  .btn-feed {
    text-transform: none;
    background-color: #dd7346;
    border: 0px;
    color: #fff;
    margin-bottom: 5px;
  }

}
