---
layout: default
---

<div class="home">

  <ul class="posts">
    {% for post in paginator.posts %}
      <li>
        <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        <span class="post-date">{{ post.date | date: "%b %-d, %Y" }} • {% capture readtime %}{{ post.content | number_of_words | plus:91 | divided_by:180 }}{% endcapture %}
{% if readtime == '0' %} &lt; 1{% else %}{{ readtime }}{% endif %} min. read</span>
        <p>{{post.excerpt | strip_html | remove: '<p>' | remove: '</p>'}} [<a href="{{ post.url | prepend: site.baseurl }}">read more</a>]</p>
      </li>
    {% endfor %}
  </ul>

  <nav class="pagination">
    {% if paginator.previous_page %}
      {% if paginator.previous_page !=1 %}
        <a href="/page{{ paginator.previous_page }}" class="previous">Previous</a>
      {% else %}
        <a href="/" class="previous">Previous</a>
      {% endif %}
    {% endif %}
    <span class="page_number ">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
    {% if paginator.next_page %}
      <a href="/page{{ paginator.next_page }}" class="next">Next</a>
    {% else %}
      <span class="next ">Next</span>
    {% endif %}
  </nav>

  <p class="rss-subscribe">Subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a> or <a href="{{ "/atom.xml" | prepend: site.baseurl }}">via Atom</a></p>

</div>
