---
layout: page
description: on Tech, Open Source and software development
---

    {% for post in paginator.posts %}
      <div class="post-preview">
        <a href="{{ post.url | prepend: site.baseurl }}">
          <h2 class="post-title">{{ post.title }}</h2>
        </a>
        <p>{{post.excerpt | strip_html | remove: '<p>' | remove: '</p>'}}</p>

        <!-- <span class="post-date"><i class="fa fa-calendar"></i> {{ post.date | date: "%b %-d, %Y" }} • {% capture readtime %}{{ post.content | number_of_words | plus:91 | divided_by:180 }}{% endcapture %}
{% if readtime == '0' %} &lt; 1{% else %}{{ readtime }}{% endif %} min. read</span> -->
        <p class="post-meta">Posted by {% if post.author %}{{ post.author }}{% else %}{{ site.title }}{% endif %} on {{ post.date | date: "%B %-d, %Y" }}</p>
        <p class="text-right"><a class="btn btn-sm btn-default" href="{{ post.url | prepend: site.baseurl }}">Continue reading »</a></p>
      </div>
      <hr>
    {% endfor %}

    <!-- Pager -->
    {% if paginator.total_pages > 1 %}
    <div class="clearfix">
        {% if paginator.previous_page %}
        <a class="btn btn-secondary float-right" href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">Newer Posts &rarr;</a>
        {% endif %}
        {% if paginator.next_page %}
        <a class="btn btn-secondary float-left" href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr; Older Posts</a>
        {% endif %}
    </div>
    {% endif %}
