---
layout: home
header-img: "/assets/2024/aws-summit.jpg"
---

<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-4">
      <h2>Recent Posts</h2>
    </div>
  </div>
</div>

{% assign rows = paginator.posts.size | divided_by: 3.0 | ceil %}
{% for i in (1..rows) %}
{% assign offset = forloop.index0 | times: 3 %}
{% for post in paginator.posts limit:3 offset:offset %}
  <div class="article col-sm-12 col-md-4">
    <div class="article-head">
      <time class="article-date" datetime="{{ post.date }}">{{ post.date | date_to_string }}</time>
      <a href="" class="article-image">
      <img src="{% if post.header-img %}{{ post.header-img }}{% else %}{{ site.header-img }}{% endif %}" alt="...">
    </a>
    </div>
    <div>
    <a href="{{ post.url | prepend: site.baseurl }}" class="stretched-link"></a>
      <h5 class="article-title"><a href="">{{ post.title }}</a></h5>
      <p class="card-text">{{post.excerpt | strip_html | truncate: 150 | remove: '<p>' | remove: '</p>'}}</p>
    </div>
  </div>
  {% endfor %}
{% endfor %}

<!-- Pager -->
{% if paginator.total_pages > 1 %}
<div class="clearfix col">
    {% if paginator.previous_page %}
    <a class="btn btn-secondary float-right" href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">Newer Posts <i class="fa fa-chevron-right"></i></a>
    {% endif %}
    {% if paginator.next_page %}
    <a class="btn btn-secondary float-left" href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}"><i class="fa fa-chevron-left"></i> Older Posts</a>
    {% endif %}
</div>
{% endif %}
