<head>
    <meta charset="utf-8">
    <!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"><![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="alternate" type="application/rss+xml" title="{{ site.title }} - RSS" href="http://feeds.feedburner.com/JeroenReijn" />
    <link rel="apple-touch-icon" sizes="180x180" href="{{ site.url }}/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ site.url }}/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ site.url }}/favicon-16x16.png">
    <link rel="manifest" href="{{ site.url }}/site.webmanifest">
    <link rel="shortcut icon" type="image/x-icon" href="{{ site.url }}/favicon.ico" />
    <meta name="robots" content="index, archive">

    <meta rel="preconnect" href="https://fonts.googleapis.com">
    <meta rel="preconnect" href="https://fonts.gstatic.com" crossorigin="true">

    <!-- Bootstrap core CSS -->
    <link href="{{ "/vendor/bootstrap/css/bootstrap.min.css" | prepend: site.baseurl }}?{{site.time | date: '%s%N'}}" rel="stylesheet" type="text/css">

    <!-- Custom fonts for this template -->
    <link href="{{ "/vendor/font-awesome/css/font-awesome.min.css" | prepend: site.baseurl }}?{{site.time | date: '%s%N'}}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
    
    <!-- Custom styles for this template -->
    <link href="{{ "/css/clean-blog.min.css" | prepend: site.baseurl }}?{{site.time | date: '%s%N'}}" rel="stylesheet" type="text/css">

    {% seo %}
    {% if page.header-img %}<meta name="twitter:image:src" content="{{ site.url }}{{ page.header-img }}">{% else %}<meta name="twitter:image:src" content="{{ site.url }}/assets/twitter-image.png">{% endif %} 
    {% if page.header-img %}<meta property="og:image" content="{{ site.url }}{{ page.header-img }}">{% endif %}

    <script>
        if (localStorage.getItem("theme") === "dark") {
            document.documentElement.setAttribute("dark", "");
            document.documentElement.classList.add('dark-mode');
        }
    </script>
</head>
