<nav class="navbar navbar-expand-lg navbar-light fixed-top" role="navigation" id="mainNav">
    <div class="container">
      <a class="navbar-brand" href="/index.html">{{site.title}}</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fa fa-bars"></i>
      </button>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/about.html">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/archive.html">Archive</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/presentations.html">Presentations</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link nav-social" href="https://twitter.com/jreijn" title="Jeroen Reijn on Twitter" target="_blank" rel="noopener" onclick="javascript:pageTracker._trackPageview('twitter');"><i class="fa fa-twitter"></i></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link nav-social" href="https://www.linkedin.com/in/jeroenreijn/" title="Jeroen Reijn on LinkedIn" target="_blank" rel="noopener" onclick="javascript:pageTracker._trackPageview('linkedin');"><i class="fa fa-linkedin"></i></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link nav-social" href="https://plus.google.com/+JeroenReijn" title="Jeroen Reijn on Google+" target="_blank" rel="noopener" onclick="javascript:pageTracker._trackPageview('googleplus');"><i class="fa fa-google-plus"></i></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link nav-social" href="https://github.com/jreijn" title="Jeroen Reijn on Github" target="_blank" rel="noopener" onclick="javascript:pageTracker._trackPageview('github');"><i class="fa fa-github"></i></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link nav-social" href="https://feeds.feedburner.com/JeroenReijn" title="Atom/RSS feed" target="_blank" rel="noopener" onclick="javascript:pageTracker._trackPageview('feedburner');"><i class="fa fa-rss"></i></a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>
