<div id="social">
    <a href="https://twitter.com/share" class="twitter-share-button" data-via="jreijn">Tweet</a>

    <!-- Google + -->
    <g:plusone size="medium"></g:plusone>
    <a href="https://news.ycombinator.com/submit" class="hn-button" data-count="horizontal">Vote on Hacker News</a>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <script type="text/javascript">var dzone_style = '2';</script>
    <script language="javascript" src="http://widgets.dzone.com/links/widgets/zoneit.js"></script>
</div>