
<div class="container sharing">
	<div class="row">
		<div class="col-lg-10 col-md-10 mx-auto">
      <a role="button" class="btn btn-sm btn-twitter" href="https://twitter.com/intent/tweet?text={{ page.title | uri_escape }}&amp;url={{ site.url }}{{ page.url }}&amp;via={{site.username}}" onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;"><i class="fa fa-twitter"></i> Tweet</a>
      <a role="button" class="btn btn-sm btn-facebook" href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ page.url }}" onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;"><i class="fa fa-facebook"></i> Post</a>
      <a role="button" class="btn btn-sm btn-google" href="https://plus.google.com/share?url={{ site.url }}{{ page.url }}" onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;"><i class="fa fa-google-plus"></i> Share</a>
      <a role="button" class="btn btn-sm btn-linkedin" href="https://www.linkedin.com/shareArticle?mini=true&amp;url={{ site.url }}{{ page.url }}" onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;"><i class="fa fa-linkedin"></i> Update</a>
      <a role="button" class="btn btn-sm btn-email" href="mailto:?subject={{ page.title | uri_escape }}&amp;body={{ site.url }}{{ page.url }}"><i class="fa fa-envelope"></i> Email</a>
      <a role="button" class="btn btn-sm btn-feed" href="https://feeds.feedburner.com/JeroenReijn"><i class="fa fa-rss"></i> RSS</a>
      <hr/>
    </div>
  </div>
</div>
