<div id="sidebar">
    <div>
        <!-- <img class="bio-photo" src="/assets/profile.jpg"/>
        <h4>Jeroen Reijn</h4> -->
        <div class="box sidebox latest-articles">
          <div class="sidebox-title">Recent posts</div>
          <div class="sidebox-content">
            {% for post in site.posts limit:5 %}
            <a href="{{ BASE_PATH }}{{ post.url }}">
              <div class="date">{{ post.date | date_to_string }}</div>
              <div>{{ post.title }}</div>
            </a>
            {% endfor %}
          </div>
        </div>

        <div class="box sidebox social">
          <div class="sidebox-title">Connect with me:</div>
          <div class="sidebox-content">
            <div class="social-icons">
            	<a href="https://twitter.com/jreijn" title="Jeroen Reijn on Twitter" target="_blank" onclick="javascript:pageTracker._trackPageview('twitter');"><i class="fa fa-twitter-square fa-2x"></i></a>
              <a href="https://www.linkedin.com/in/jeroenreijn/" title="Jeroen Reijn on LinkedIn" target="_blank" onclick="javascript:pageTracker._trackPageview('linkedin');"><i class="fa fa-linkedin-square fa-2x"></i></a>
              <a href="https://github.com/jreijn" title="Jeroen Reijn on Github" target="_blank" onclick="javascript:pageTracker._trackPageview('github');"><i class="fa fa-github-square fa-2x"></i></a>
            	<a href="https://plus.google.com/+JeroenReijn" title="Jeroen Reijn on Google+" target="_blank" onclick="javascript:pageTracker._trackPageview('googleplus');"><i class="fa fa-google-plus-square fa-2x"></i></a>
              <a href="https://www.slideshare.net/jreijn" title="Jeroen Reijn on Slideshare" target="_blank" onclick="javascript:pageTracker._trackPageview('slideshare');" class="fa-stack fa-lg"><i class="fa fa-square fa-stack-2x"></i><i class="fa fa-slideshare fa-1x"></i></a>
              <a href="https://feeds.feedburner.com/JeroenReijn" title="Atom/RSS feed" onclick="javascript:pageTracker._trackPageview('feedburner');"><i class="fa fa-rss-square fa-2x"></i></a>
            </div>
          </div>
        </div>

        <div class="box sidebox disclaimer">
          <div class="sidebox-title">Disclaimer</div>
          <div class="sidebox-content">
            <small>
                {{ site.disclaimer }}
            </small>
        </div>
      </div>

    </div>
</div>
