<div id="sidebar">
    <h3 class="blog-title">
        <a href="http://blog.jeroenreijn.com">Jeroen Reijn</a>
    </h3>
    <h4>
        {{ site.subtitle }}
    </h4>

    <div class="sidebar-links">
        <ul id="subscribe">
            <li><a href="{{ "/feed.xml" | prepend: site.baseurl }}"><i class="fa fa-rss"></i>Subscribe</a></li>
        </ul>
        <ul>
            <li><a href="http://twitter.com/jreijn"><i class="fa fa-twitter"></i>Twitter</a></li>
            <li><a href="https://www.linkedin.com/in/jeroenreijn"><i class="fa fa-linkedin"></i>LinkedIn</a></li>
            <li><a href="http://github.com/jreijn"><i class="fa fa-github"></i>Github</a></li>
            <li><a href="{{ "/about.html" | prepend: site.baseurl }}"><i class="fa fa-info-circle"></i>More..</a></li>
        </ul>
    </div>
    <div id="disclaimer">
        <small>
            {{ site.disclaimer }}
        </small>
    </div>
    
</div>