---
layout: default
---
<!-- Page Header -->
<header class="masthead" style="background-image: url('{% if page.header-img %}{{ page.header-img }}{% else %}{{ site.header-img }}{% endif %}')">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-md-10 mx-auto">
        <div class="site-heading">
          <h1>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</h1>
          <hr class="small">
          <span class="subheading">{{ page.description }}</span>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- Main Content -->
<div class="container">
	<div class="row">
		<div class="col-lg-10 col-md-10 mx-auto">
			{{ content }}
		</div>
	</div>
</div>
