---
layout: default
---
<!-- Page Header -->
<header class="masthead">
  <div class="container">
    <div class="row">
      <div class="col-xl-12 col-lg-10 col-md-10 mx-auto">
        <div class="site-heading">
          <h1>{% if page.title %}{{ page.title }}{% endif %}</h1>
          <hr class="small">
          <span class="subheading">{{ page.description }}</span>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- Main Content -->
<main>
  <div class="container">
    <div class="row">
      <div class="col-xl-10 col-lg-10 col-md-10 mx-auto">
        {{ content }}
      </div>
    </div>
  </div>
</main>
